{% extends 'base.html' %}

{% block title %}Category: {{ category_slug|title }}{% endblock %}

{% block content %}
  <h1>Category: {{ category_slug|title }}</h1>

  {% if posts %}
    <div class="row">
      {% for post in posts %}
        <div class="col-md-4">
          <div class="card">
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.summary }}</p>
              <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No posts found in this category.</p>
  {% endif %}
{% endblock %}
