{% extends "blogapp/html/base.html" %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
    <style>
        h1{
            margin-top: 2rem;
            text-align: center;
        }
        .contact-container {
            maargin-top: 5rem;
            background-color: #A19C9C;
            width: 500px;
        }

    </style>
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Please fill out the form below, and we'll get back to you soon.</p>
    <div class="container">

        <div class="contact-container rounded">
           <h3  class = "text-center p-2">Contact Form</h3>

            <form method="POST" >
                {% csrf_token %}
                {{ form.as_p }}  <!-- Render form fields automatically -->
                <div class = "d-flex justify-content-center">
                    <button type="submit" class = "btn btn-primary">Send Message</button>
                </div>
                
            </form>
        </div>
    </div>
    

{% endblock content %}
